        </div>
      </main>
      <footer class="site-footer">
        <div class="site-footer__text">
          <p>Site designed and built by Mike J. Lightfoot</p>
          <p>&copy; <%= new Date().getFullYear() %></p>
        </div>
      </footer>
    </div>
  </body>
</html>