        </div>
      </main>
      <footer class="site-footer">
        <div class="site-footer__text">
          <p>Blog designed and built by Mike J. Lightfoot</p>
          <a href="https://github.com/gordonwoodbine/web-dev-blog" target="_blank" rel="noopener">
            View code on github
          </a>
          <p>&copy; <%= new Date().getFullYear() %></p>
        </div>
      </footer>
    </div>
  </body>
</html>