<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Monda:wght@400;700&display=swap" rel="stylesheet">
  <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon-16x16.png">
  <link rel="stylesheet" href="/css/style.css">
  <title><%= titlePartial %>Web Dev Blog</title>
</head>
<body>
  <div class="site-wrapper">
    <header class="site-header">
      <div class="site-header__text">
        <h1 class="site-header__text__title">Another Web Dev Blog</h1>
        <p class="site-header__text__desc">Hi, I'm Mike. I'm learning web development. I write about it here.</p>
      </div>
      <nav class="site-nav">
        
          <a class="site-nav__link" href="/">Home</a>
          <a href="/about" class="site-nav__link">About</a>
      </nav>
    </header>
    <main>
      <div class="content-wrapper">