<div class="form-group">
  <label for="title">Post Title</label>
  <input class="form-control" type="text" name="title" id="title" autocomplete="off" value="<%= title %>">
</div>
<div class="form-group">
  <label for="body">Post Content</label>
  <textarea class="form-control ta-vertical" name="content" id="body" cols="30" rows="10"><%- content -%></textarea>
</div>