<%- include('./partials/header', {titlePartial: 'About | '}) -%>

<section class="section about-section">
  <h2 class="about-section__title title">About Me</h2>
  <p class="about-section__text ">I'm a human. I do computers. Blah blah.</p>
</section>

<%- include('./partials/footer') -%>