<%- include('./partials/header', {titlePartial: 'About | '}) -%>

<section class="section about-section">
  <h2 class="about-section__title title">About Me</h2>
  <p class="about-section__text ">
    Hello. My name is Mike. At the time of writing this I am 38 years old, I live in York in the north of England and I've been studying web development for about 8 months.
  </p>
  <p class="about-section__text">I decided to build this blog both as a practice exercise to see if I could design and build my first "full-stack" site and also so I would have a place to keep a journal of my experiences. I fully expect this blog to have a readership of one, and I fully expect that one person to be future me. If you, gentle reader, are not, in fact, a future version of me then hello and welcome. I hope  you find something here to interest to you nonetheless :)</p>
</section>

<%- include('./partials/footer') -%>