<%- include('./partials/header', {titlePartial: 'Compose | '}) -%>

<section class="section compose-section">
  <h2 class="title">Create New Post</h2>
  <form class="compose-form" action="/posts" method="post">
    <%- include('./partials/post-form', { title: '', content: '' }); -%>
    <button class="btn" type="submit">Publish</button>
  </form>
</section>


<%- include('./partials/footer') -%>