<%- include('./partials/header', { titlePartial: postTitle + ' | ' }) -%>

<section class="section post-section">
  <h2 class="title"><%= postTitle %></h2>
  <p><%= postBody %></p>
</section>



<%- include('./partials/footer') -%>