:root {
  --site-primary: #ff9900;
  --site-dark: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Monda', sans-serif;
}

.site-wrapper {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

main {
  padding: 0 1.5rem;
}

.section {
  margin: 2rem 0;
}

.title {
  margin-bottom: 1.2rem;
}

.btn {
  font-family: inherit;
  font-size: 1rem;
  background-color: var(--site-primary);
  padding: 0.7rem 1.5rem;
  border: none;
  color: var(--site-dark);
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s ease-out;

  &:hover {
    background-color: #ffd05b;
  }
}

/******************
*  Header Styles  *
*******************/

.site-header {
  position: relative;
  min-height: 200px;
  background-color: var(--site-dark);
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__text {
    text-align: center;
    flex: 1;
    margin-top: 1rem;

    &__title {
      font-size: 3rem;
      margin-bottom: 0.5rem;
    }
  }
}

.site-nav {
  background-color: var(--site-primary);
  // padding: 0.6rem 0;
  // padding-left: 1rem;
  width: 100%;
  display: flex;
  justify-content: center;

  &__link {
    text-decoration: none;
    // background-color: var(--site-dark);
    color: #333;
    font-weight: 700;
    padding: 0.6rem 1.2rem;
    margin: 0 1rem;

    &:hover {
      text-decoration: underline;
    }
  }
}

/*******************************
*  Main Page Blog Post Styles  *
********************************/

.blog-post {
  max-width: 700px;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 2rem 3rem;

  &__title {
    margin-bottom: 1rem;
  }

  &__date {
    margin-bottom: 1rem;
    opacity: 0.7;
  }

  &__btn {
    text-decoration: none;
    background-color: var(--site-dark);
    color: #fff;
    padding: 1rem 2rem;
    margin: 2rem 0 1rem 0;
    display: inline-block;
  }

  &:nth-child(odd) {
    background-color: #ff9900e7;
    color: #333;
  }
}

.post-section {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;

  & p {
    margin-top: 2rem;
  }
}

/************************
*  Compose Page Styles  *
*************************/

.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  padding: 0.3rem;
  border: 2px solid var(--site-dark);
  border-radius: 5px;
  height: 34px;
  transition: border-color 0.3s ease-out;
  // outline-color: #fdb700;
}

.form-control:focus {
  border-color: var(--site-primary);
  outline: 0;
}

.ta-vertical {
  height: auto;
  resize: vertical;
  max-height: 40vh;
  min-height: 200px;
  font-family: inherit;
}

// Login

.login {
  width: 400px;
}

/******************
*  Footer Styles  *
*******************/

.site-footer {
  background-color: var(--site-dark);
  color: #fff;
  padding: 1rem 0;

  &__text {
    text-align: center;
    font-size: 0.8rem;
  }

  & a {
    color: #fff;
  }
}
