:root {
  --site-primary: rgb(196, 50, 50);
  --site-primary-lighter: rgb(240, 72, 72);
  --site-dark: #333;
  --site-dark-lighter: rgb(97, 97, 97);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

body {
  font-family: 'Monda', sans-serif;
  margin: 0;
}

img {
  max-width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

ul {
  list-style-position: inside;
  padding-left: 20px;
}

.site-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto 1fr auto;
      grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.content-wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

main {
  padding: 0 1.5rem;
}

.section {
  margin: 2rem 0;
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}

.button-group {
  margin: 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button-group .btn {
  background-color: #369;
  margin-right: 1rem;
}

.button-group .btn:hover {
  background-color: #4186ca;
}

.btn {
  display: inline-block;
  font-family: inherit;
  font-size: 1rem;
  text-decoration: none;
  background-color: var(--site-primary);
  padding: 0.7rem 1.5rem;
  border: none;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.btn:hover {
  background-color: var(--site-primary-lighter);
}

/******************
*  Header Styles  *
*******************/
.site-header {
  position: relative;
  min-height: 200px;
  background-color: var(--site-dark);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.site-header__text {
  text-align: center;
  font-size: 1.1rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-top: 1rem;
}

.site-header__text__title {
  font-size: 3rem;
}

.site-header__text > * {
  margin: 0;
}

.site-nav {
  background-color: var(--site-primary);
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.site-nav__link {
  text-decoration: none;
  color: #fff;
  font-weight: 700;
  padding: 0.6rem 1.2rem 0.6rem 0;
  margin: 0 1rem;
}

.site-nav__link:hover {
  text-decoration: underline;
}

/*******************************
*  Main Page Blog Post Styles  *
********************************/
.blog-post {
  max-width: 900px;
  margin: 2rem auto;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 2rem 3rem;
}

.blog-post__title {
  margin-bottom: 1rem;
}

.blog-post__date {
  margin-bottom: 1rem;
  opacity: 0.7;
}

.blog-post__btn {
  background-color: var(--site-dark);
  color: #fff;
  padding: 1rem 2rem;
  margin: 2rem 0 1rem 0;
  display: inline-block;
  -webkit-transition: background-color 0.3s ease-out;
  transition: background-color 0.3s ease-out;
}

.blog-post__btn:hover {
  background-color: var(--site-dark-lighter);
}

.blog-post:nth-child(even) {
  background-color: var(--site-primary);
  color: #fff;
}

.page-nav {
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-nav__link:nth-child(2) {
  margin-left: 1rem;
}

.btn-prev {
  background-color: var(--site-dark);
  color: #fff;
}

.btn-prev:hover {
  background-color: var(--site-dark-lighter);
}

.page-count {
  text-align: center;
}

/***************************
*  Individual Post Styles  *
****************************/
.post-section__date {
  color: #575757;
}

.post-section__blog-content {
  border-bottom: 1px dashed var(--site-dark);
}

.post-section__updated {
  margin-top: 0;
  color: crimson;
}

/************************
*  Compose Page Styles  *
*************************/
.form-group {
  margin-bottom: 1rem;
}

.form-control {
  display: block;
  width: 100%;
  font-size: 0.9rem;
  padding: 0.3rem;
  border: 2px solid var(--site-dark);
  border-radius: 5px;
  height: 34px;
  -webkit-transition: border-color 0.3s ease-out;
  transition: border-color 0.3s ease-out;
}

.form-control:focus {
  border-color: var(--site-primary);
  outline: 0;
}

.ta-vertical {
  height: auto;
  resize: vertical;
  max-height: 40vh;
  min-height: 200px;
  font-family: inherit;
}

.login {
  width: 400px;
}

/******************
*  Footer Styles  *
*******************/
.site-footer {
  background-color: var(--site-dark);
  color: #fff;
  padding: 1rem 0;
}

.site-footer__text {
  text-align: center;
  font-size: 0.8rem;
}

.site-footer__text > * {
  margin: 0;
}

.site-footer a {
  color: #fff;
}

@media screen and (max-width: 600px) {
  .site-header__text {
    font-size: 0.9rem;
    margin-top: 1.5rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .site-header__text__title {
    font-size: 1.75rem;
    margin-bottom: 0.3rem;
  }
}

@media screen and (max-width: 480px) {
  main {
    padding: 0;
  }
  .blog-post {
    padding: 2rem 1.5rem;
  }
  .section {
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 0.9rem;
  }
}
/*# sourceMappingURL=style.css.map */